body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

#upgradeUi {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999; /* 다른 UI 위로 오게 1*/
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

header {
  background: #333;
  color: white;
  padding: 13px;
  position: relative;
  height: 120px;
}

@media (min-width: 431px) {
  header h1 {
    margin: 0.4em 0;
  }

  header img {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
  }

  #intro {
    margin: 0 20%;
    text-align: left !important;
  }

  nav {
    margin-top: 10px;
  }

  nav .tab-btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: none;
    color: white;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
  }
  
  #profill {
    padding: 0 0 10% 0 !important;
    margin: 0 25% !important;
    margin-top: 2% !important;
    text-align: left !important;
  }
  

  
  
  
  nav button.active {
    background: #4caf50;
    color: #fff;
  }
}

#under-bar {
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 2% 10%;
  height: 7%;
  width: 80%;
  margin-top: 20px;
}

nav .tab-btn:hover {
  background: #45a049;
}

main {
  padding: 20px;
}

.tbtn {
  border: none;
  border-radius: 10px;
  background-color: #00bfff;
  color: #fff;
}

.bar-bt {
  border: none;
  background-color: #333;
  color: #fff;
}

/* .web {position: absolute;right: 5%;transform: translateY(-50%);} */

/* 탭 콘텐츠 기본 숨김 */
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
  animation: fadeIn 0.4s ease;
}

/* 광고 박스 */
.adsbygoogle {
  margin: 20px auto;
}

/* 애니메이션 */
@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* 모바일 대응 */
@media (max-width: 430px) {
  #board-canvas {
    width: 95vw;
    height: 95vw;
  }

  header h1 {
    font-size: small;
    float: right;
  }

  header img {
    float: left;
  }

  nav .tab-btn {
    padding: 3% 6%;
    margin: 1.5%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: none;
    color: white;
    font-size: 5%;
    text-decoration: none;
    display: inline-block;
  }
  nav button.active {
    background: #4caf50;
    color: #fff;
  }
}
